@model FileRabbit.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<section class="auth-wrapper anix" data-continue="true" data-hold="400" data-fx="move" data-direction="down">
    <form asp-action="Register" class="auth">
        <h1 class="text-white">Registration</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label text-white"></label>
            <input asp-for="Email" class="input" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label text-white"></label>
            <input asp-for="UserName" class="input" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label text-white"></label>
            <input asp-for="Password" class="input" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label text-white"></label>
            <input asp-for="PasswordConfirm" class="input" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="submit" />
        </div>
    </form>
</section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
